{% extends "base.html" %}
{% block title %}Recent storm days{% endblock %}
{% block heading %}Recent storm days{% endblock %}

{% block content %}
<script src="{{ url_for('static', filename='storms.js') }}" defer></script>
    <form method="get" action="{{ url_for('main.index') }}" class="filters">
        <input type="hidden" name="submitted" value="1">

        <label for="days">Last</label>
        <select id="days" name="days">
            {% for n in day_ranges %}
            <option value="{{ n }}" {% if n == selected_days %}selected{% endif %}>{{ n }} days</option>
            {% endfor %}
        </select>

        <label for="type">Type</label>
            <select id="type" name="type">
                <option value="">All</option>
                {% for t in types %}
                <option value="{{ t }}" {% if t == selected_type %}selected{% endif %}>{{ t }}</option>
                {% endfor %}
            </select>

        <label>
            <input type="checkbox" name="actionable" value="1"
                    {% if actionable_only %}checked{% endif %}>
            Actionable Only
        </label>

        <button type="submit">Apply</button>
    </form>
{% if rows %}
    <table>   
    <thead>
        <tr>
            <th></th>
            <th>Date</th>
            <th>Type</th>
            <th class="num">Reports</th>
            <th class="num">Zips</th>
            <th class="num">Max</th>
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr>
            <td>
                <button class="expand"
                    data-endpoint="/storms/zips"
                    data-date="{{ row.storm_date }}"
                    data-type="{{ row.report_text}}"
                    data-actionable="{{ '1' if actionable_only else '' }}">+</button>
            </td>
            <td>{{ row.storm_date }}</td>
            <td>{{ row.report_text }}</td>
            <td class="num">{{ row.report_count }}</td>
            <td class="num">{{ row.zip_count }}</td>
            <td class="num">
                {% if row.max_magnitude is not none %}
                  {{ row.max_magnitude }}{% if row.mag_unit == 'inches' %}"{% elif row.mag_unit == 'mph' %} mph{% endif %}
                {% endif %}
            </td>
        </tr>
        <tr hidden>
            <td colspan="6"></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No Storm days in the last year within coverage</p>
{% endif %}
{% endblock %}